.sidebar {
  width: 24%;
  margin-top: 5px;
  float: left;

  @include laptop {
    width: auto;
  }

  @include tablets {
    width: 100%;
    float: none;
    margin-bottom: 30px;
    margin-top: 0;
  }

  @include phones {
    margin-bottom: 15px;
    text-align: center;
  }
}

.nav__item {
  @include tablets {
    display: inline-block;
    text-align: center;
  }

  @include phones {
    .fa {
      font-size: 0;
    }
    .nav__link-text {
      font-size: 14px;
    }
  }
}

.nav__link {
  display: block;
  padding: 15px 25px 10px 0;
  text-align: right;
  border-right: 5px solid transparent;

  text-decoration: none;

  font-size: rem(18px);
  color: $black;

  @include transition(0.3s);

  &:hover {
    color: $blue;
  }

  @include phones {
    padding: 0;
    font-size: 14px;
  }
}

.nav__link-text {
  font-family: 'fira_sansregular', serif;
  padding-left: 5px;
}

.nav__item_active {
  .nav__link {
    border-color: $blue;
    color: $blue;
    @include tablets {
      border: 0;
    }
  }

  .nav__link-text {
    font-family: 'fira_sansbold', serif;
  }
}

